- importing libraries.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Step 1: readng CSV
- readiing excel file in jupyter notebook.

In [3]:
data = pd.read_csv('datset - Sheet1.csv')
data

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI
5,1006,2023-01-20,South,Ankit Tiwari,Keyboard,4.0,100.0,400.0,Wallet
6,1007,2023-01-21,East,Sarah Lee,Monitor,2.0,200.0,400.0,Credit Card
7,1008,2023-01-22,West,Daniel Smith,Laptop,NaN,680.0,NaN,Credit Card
8,1009,2023-01-23,North,Priya Nair,Mobile Phone,4.0,295.0,1180.0,UPI
9,1010,2023-01-24,South,Ramesh Iyer,Headphones,6.0,55.0,330.0,Debit Card
10,1011,2023-01-25,East,Maria Gonzalez,Laptop,1.0,710.0,710.0,Wallet
11,1012,2023-01-26,West,NaN,Monitor,2.0,210.0,420.0,Credit Card
12,1013,2023-01-27,North,Zoe Carter,Keyboard,3.0,95.0,285.0,Credit Card
13,1014,2023-01-28,South,Rahul Mehta,Laptop,2.0,700.0,1400.0,UPI
14,1015,2023-01-29,East,Fatima Noor,Mobile Phone,1.0,290.0,290.0,Wallet
15,1016,2023-01-30,West,Alice Johnson,Monitor,3.0,195.0,585.0,Credit Card
16,1017,2023-01-31,North,Daniel Smith,Tablet,2.0,450.0,900.0,UPI
17,1018,2023-02-01,South,Ankit Tiwari,Smart Watch,1.0,200.0,200.0,Wallet
18,1019,2023-02-02,East,Sarah Lee,Mobile Phone,2.0,310.0,620.0,UPI
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,NaN,700.0,Credit Card

- concise summary of the DataFrame

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        20 non-null     int64
 1   Date           20 non-null     object
 2   Region         20 non-null     object
 3   CustomerName   18 non-null     object
 4   Product        20 non-null     object
 5   Quantity       19 non-null     float64
 6   UnitPrice      18 non-null     float64
 7   TotalSales     18 non-null     float64
 8   PaymentMethod  20 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.5+ KB

- Check for missing values

In [13]:
print(data.isnull().sum())

OrderID          0
Date             0
Region           0
CustomerName     0
Product          0
Quantity         0
UnitPrice        0
TotalSales       0
PaymentMethod    0
dtype: int64

### Step 2: Cleaning Data
- Handling missing values

1.`CustomerName`: Replace missing with 'Unknown'

In [8]:
data['CustomerName'].fillna('Unknown', inplace=True)

2. `Quantity`, `UnitPrice`, and `TotalSales`: 
- We will fill missing values in `Quantity` and `UnitPrice` with their mean values.

In [10]:
data['Quantity'].fillna(data['Quantity'].mean(), inplace=True)
data['UnitPrice'].fillna(data['UnitPrice'].mean(), inplace=True)

3. For `TotalSales`, we will recalculate it using `Quantity` and `UnitPrice` .

In [12]:
data['TotalSales'].fillna(data['Quantity'] * data['UnitPrice'], inplace=True)

- Verify that there are no missing values left

In [14]:
print(data.isnull().sum())

OrderID          0
Date             0
Region           0
CustomerName     0
Product          0
Quantity         0
UnitPrice        0
TotalSales       0
PaymentMethod    0
dtype: int64

### Step 3: Perform Required Analysis

1. Sum of sales by region

In [18]:
sales_by_region = round(data.groupby('Region')['TotalSales'].sum(), 2)
print(sales_by_region)

Region
East     2520.00
North    4808.33
South    3830.00
West     4393.42
Name: TotalSales, dtype: float64

2. avg sales per product

In [17]:
avg_sales_per_product = round(data.groupby('Product')['TotalSales'].mean(), 2)
print(avg_sales_per_product)

Product
Headphones       415.00
Keyboard         342.50
Laptop          1149.74
Mobile Phone     926.67
Monitor          468.33
Smart Watch      200.00
Tablet           900.00
Name: TotalSales, dtype: float64

3. Highest selling products

In [19]:
highest_selling_product = data.groupby('Product')['TotalSales'].sum().idxmax()
print(f"Highest Selling Product: {highest_selling_product}")

Highest Selling Product: Laptop

4. lowest selling products

In [20]:
lowest_selling_product = data.groupby('Product')['TotalSales'].sum().idxmin()
print(f"Lowest Selling Product: {lowest_selling_product}")

Lowest Selling Product: Smart Watch

5. Use NumPy to calculate mean, median, and standard deviation of numerical fields

In [21]:
mean_values = np.mean(data[['Quantity', 'UnitPrice', 'TotalSales']], axis=0)
print("Mean Values:\n", mean_values)

Mean Values:
 Quantity        2.894737
UnitPrice     347.777778
TotalSales    777.587719
dtype: float64

In [22]:
median_values = np.median(data[['Quantity', 'UnitPrice', 'TotalSales']], axis=0)
print("Median Values:\n", median_values)

Median Values:
 [  2.  297.5 660. ]

In [23]:
std_dev_values = np.std(data[['Quantity', 'UnitPrice', 'TotalSales']], axis=0)
print("Standard Deviation Values:\n", std_dev_values)

Standard Deviation Values:
 Quantity        2.118838
UnitPrice     227.399550
TotalSales    476.577520
dtype: float64

### Step 4: Save Cleaned Data

In [24]:
data.to_csv('cleaned_dataset.csv', index=False)